
body{
  font-family: "Arial", "Meiryo", sans-serif;
}

h1{
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2em;
  letter-spacing: 1.2em;
  text-shadow: 1px 1.5px 3px yellow;
  border-bottom: 3px solid rgb(115, 115, 114);
}

.text-pink{
  color: rgb(255, 192, 203);
}

.text-skyblue{
  color: skyblue;
}

.text-center{
  text-align: center;
}
div {
  font-weight: bold;
}